{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "strict": 0,
    "semi": 2,
    "eqeqeq": 2,
    "no-var": 0,
    "no-console": 0
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "jasmine": true,
    "mocha": true
  }
}
